* {
	margin: 0;
	padding: 0;
	border: 0;
}

header, nav, main, article, footer {
	display: block;
}

html { 
	background: url('../images/kcbackgroundsmall.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

::-moz-selection {
    color: #0071BC;
    background: #F3C1BE;
}

::selection {
    color: #0071BC;
    background: #F3C1BE;
}

#container {
	width: 800px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

header {
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	height: 200px;
}

header img {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 40px;
	float: left;
}

nav {
	padding-top: 15px;
}

nav li {
	list-style-type: none;
	font-family: 'Sigmar One', cursive;
	font-size: 225%;
}

nav li a {
	text-decoration: none;
	color: #E2635D;
}

nav li a:hover {
	color: #0071BC;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
	-webkit-transform: rotate(-5deg) scale(1.2);
	-moz-transform: rotate(-5deg) scale(1.2);
	-o-transform: rotate(-5deg) scale(1.2);
	text-shadow: 2px 2px 2px #969696;
}

main {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
}

main img {
	border: 2px solid black;
	margin-right: 30px;
	margin-bottom: 15px;
	float: left;
}

main p {
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 10px;
}

main p a {
	text-decoration: none;
	color: #0071BC ;
}

main p a:hover {
	color: #E2635D;
}

article p:first-child, .makemeblue {
	color: #0071BC;
	font-family: 'Sigmar One', cursive;
	font-size: 175%;
	text-shadow: 2px 2px 2px #969696;
}

article p:nth-child(2) {
	font-weight: bold;
	font-size: 120%;
}

footer {
	width: 800px;
	background-color: black;
	margin-top: 10px;
}

#social {
	height: 65px;
	float: right;
	margin-right: 20px;
}

#social img {
	margin-left: 7px;
	margin-right: 7px;
}

#social img:hover {
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.8));
	filter: url(shadow.svg#drop-shadow);
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

footer {
	margin-left: auto;
	margin-right: auto;
}

footer ul {
	list-style-type: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer li {
	display: inline;
}

footer li a {
	text-decoration: none;
	color: white;
	font-family: 'Sigmar One', cursive;
	font-size: 125%;
	padding-right: 20px;
	padding-left: 20px;
	border-right: 1px solid white;
}

#endfooternav {
	border: none;
}

footer li a:hover {
	color: #0071BC;
}

footer p {
	color: white;
	float: right;
	text-align: right;
	margin-right: 30px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

#biggersocial img {
	border: none;
	float: none;
}

#biggersocial img:hover {
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
	-webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.8));
	filter: url(shadow.svg#drop-shadow);
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

}

#pinkportrait {
	margin-top: 15px;
}