* {
	margin: 0;
	padding: 0;
	border: 0;
}

html { 
	background: url('../images/kcbackground.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

figure {
	display: block;
}

#splashlogo {
	width: 500px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

.front {
	background: rgba(255, 255, 255, 0.6);
	border: 5px solid white;
	padding: 10px;
}

@-webkit-keyframes bgscroll {
	from {background-position:0 0;}
	to {background-position:0 -1000px;}
}

.back {
	background: url('../images/musicbackground.jpg');
	border: 5px solid black;
	-webkit-animation:bgscroll 15s linear infinite;
	-moz-animation:bgscroll 15s linear infinite;
	-ms-animation:bgscroll 15s linear infinite;
	-o-animation:bgscroll 15s linear infinite;
	animation:bgscroll 15s linear infinite;
}

.back a {
	display: block;
	font-family: 'Sigmar One', cursive;
	font-size: 650%;
	font-weight:bold;
	text-align: center;
	margin-top: 40px;
	text-decoration: none;
	color: #E2635D;
}

.back a:hover {
	color: #0071BC;
}

@media screen and (min-width: 500px) {
	#splashlogo {
		left: 50%;
		margin-left: -250px;
	}
}

@media screen and (min-height: 250px) {
	#splashlogo {
		top: 50%;
		margin-top: -125px;
	}
}

/*code for flip animation - source: http://davidwalsh.name/css-flip*/

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 500px;
	height: 250px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}